 <div class="contentContainer">
     
            <div class="postHeader">
                <div id="userIcon"></div>
                <div id="bananas">
                    <p id="username">louispie</p> <br>
                    <p id="datetime">January 24, 2020 10:22 AM</p>
                    <div id="menuIcon"></div>
                </div>
            </div>
            <div id="postImg"></div>
            <div class="postFooter">
                <div id="icons">
                    <img src="images/like.png" id="btnLike">
                    <img src="images/comment.png" id="btnComment">
                </div>
                <div id="apples">
                    <p id="numberOfLikes">25 Likes</p>
                </div>
            </div>
            <div id="comments">
                    <div id="userIconComment"></div>
                    <div id="kiwi">
                        <p id="usernameComment">baileybear</p>
                        <div id="comment">Super loooove this!</div>
                    </div>
            </div>
</div>