 <div class="mx-auto" style="width: 600px;" id="createcard">
            <div class="card" style="width: 36rem;", id="createpost">
                <p class="create">Profile</p>
                
                <div id="profpic" class="rounded mx-auto d-block"></div>
<!--                <img src="images/dog.jpg" id="profpic" class="rounded mx-auto d-block">-->
                  <h1>louispie</h1>
                  <p class="title">Dog Lover</p>
                  <p>De La Salle University</p>
<!--
                  <a href="#"><i class="fa fa-dribbble"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                  <a href="#"><i class="fa fa-facebook"></i></a>
-->
                
                <p class="create">Posts</p>
                <div id="userposts">
                    <div id="profilefeed" class="rounded mx-auto d-block"></div>
                    <div id="profilefeed" class="rounded mx-auto d-block"></div>
<!--
                    <img src="images/ferris.jpg" id="profilefeed" class="rounded mx-auto d-block">
                    <img src="images/forest.jpeg" id="profilefeed" class="rounded mx-auto d-block">
-->
                </div>
        </div>