<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href='/stylesheets/login.css' />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        setTimeout(function(){
            window.location.href = '/';
         }, 3000);
    </script>
</head>

<body>
    <div class="login-box">
        <h2 id="logintxt">Sign up success</h2>
        <h4 id="logintxt">Redirecting...</h4>
    </div>

</body>

</html>