@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url('simplix.png') no-repeat;
    background-size: cover;
    background-color: plum;
}

#logintxt{
    color: burlywood;
}

#loginbtn{
    color: burlywood;
}

#userlog{
    color: burlywood;
}

#passlog{
    color: burlywood;
}

.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid coral;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid coral;
}

.textbox i{
    width: 26px;
    float: left;
    text-align: center;
    color: coral;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: aliceblue;
    font-size: 16px;
    width: 230px;
    margin-left: 5px;
    float: left;
}

.btn{
    width: 90%;
    background: none;
    border: 2px solid coral;
    color: aliceblue;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    text-align: center;
}

#loginbtn:hover{
    border: 2px solid whitesmoke;
    background-color: burlywood;
    color: white;
}

#signupprompt{
    color: coral;
}